<h1>Funcionamiento del Framework</h1>
<h2>a)¿Actúa sobre páginas, ficheros, secciones...?</h2>
<p>Angular trabaja principalmente con componentes. Cada componente es responsable 
de una sección específica de la interfaz de usuario. Estos componentes pueden tener su 
propia lógica y diseño, y se organizan jerárquicamente dentro de la aplicación.</p>
<h2>b)¿Cómo se editan/modifican los ficheros que actúan en el framework?</h2>
<p>Los ficharos en Angular se modifican directamente en el código fuente del proyecto.
Los componentes están compuestos por:</p>
<ol>
  <li><strong>HTML</strong> para la estructura de la página.</li>
  <li><strong>CSS</strong> para los estilos.</li>
  <li><strong>TypeScript</strong> para la lógica y el comportamiento.</li>
</ol>
<h2>c)¿Cómo se referencian los ficharos creados desde otras aplicciones (si es el caso)?</h2>
<p>Si necesitas referenciar un componente, servicio o módulo desde otra aplicación, puedes 
exportar el componente desde un módulo y luego importarlo en el módulo de la aplicación que lo 
necesite.</p>