<h1>Utilización del Framework</h1>
<p><strong>a)¿Cómo empezar a crar una aplicación base?</strong></p>
<ol>
    <li><strong>Generar un componente:</strong></li>
    <p>Para agregar nuevos compoentes, utiliza Angular CLI:
    <code> ng generate component nombre-componente</code>
    Esto crea un nuevo componente con su archivo HTML, CSS y TypeScript correspondiente.</p>
    <li><strong>Modificar el compomente:</strong>Cambia el contenido del archivo
    <code>nombre-compomente.compoment.html</code> para definir la estrutucra de la interfaz
    de usuario.</li>
    <li><strong>Incluir el compomente en la aplicación:</strong>Asegúrate de declarar el
    componente en el módulo correspondiente <code>(app.module.ts)</code> y de usar su 
    selector en<code>app.component.html</code></li>
</ol>
<p><strong>b)¿Cómo visualizar los resultados de la ejecución?</strong></p>
<p>Usa el servidor de desarrollo (con <code>ng serve</code>) para ver los cambios en tiempo real.
Angular recargará la aplicación automáticamente cuando detecte modificaciones en los 
archivos.</p>