<h1>Primeros Pasos</h1>
<p>Para crear una aplicación básica en angular que muestre "Hola mundo", sigue estos pasos:</p>
<ol>
    <li><strong>Crear un nuevo proyecto Angular.</strong>
        <p>En la terminal, ejecuta:<code>ng new hola-mundo</code></p>
        <p>Esto creará una nueva aplicación Angular con el nombre "hola-mundo".</p>
    </li>
    <li><strong>Navegar al directorio proyecto:</strong>
        <p><code>cd hola-mundo</code></p>    
    </li>
    <li><strong>Ejecutar el servidor de desarrollo:</strong>
        <p><code>ng serve</code></p>
        <p>Esto iniciará el servidor y podrás ver tu aplicación en http://localhost:4200</p>
    </li>
    <li><strong>Modificar el archivo </strong> <code>src/app/app.component.html</code>
    para mostrar "Hola mundo":<></li>
    <li><strong>Ver los resultados:</strong>
        <p>Al abrir http://localhost:4200 en tu navegador,verás el mensaje "Hola Mundo".</p>
    </li>
</ol>
