<h1>Instalación</h1>
<ul>
  <p><strong>a)¿Se precisa instalación?</strong></p>
  <p>Sí, Angular requiere instalación en el entorno de desarrollo local para 
  poder crear y ejecutar aplicaciones.</p>
  <p><strong>b)¿Qué pasos hay que realizar para realizar la instalación?</strong></p>
  <ol>
    <li>Instalar Node.js y npm: Angular depende de Node.js, un entorno de ejecución
    de JavaScript, y npm, su gestor de paquetes.</li>
      <ol>
        <li>Descarga e instala Node.js desde <a href="https://nodejs.org">nodejs.org</a></li>
        <li>npm se instala automáticamente con Node.js.</li>
      </ol>
    <li>Instalar Angular CLI (Command Line Interface):</li>
      <p>Abre un terminal o línea de comandos y ejecuta:
        <code>npm install -g angular/cli</code>.</p>
  </ol>
  <p><strong>c)¿Versiones necesarias?</strong></p>
  <ol><strong>Node.js:</strong>   Se recomienda usar la versión LTS (Long Term Support) de Node.js.</ol>
  <ol><strong>Angular CLI:</strong> Asegúrate de tener la última versión estable de Angualr CLI. </ol>
  <p><strong>d)¿Rutas para tener en cuenta?</strong></p>
  <p>Angular CLI se instala globalmente, porlo que puedes ejecutarlo desde cualquier 
  ruta del sistema.</p>
  <p><strong>¿Variables de entorno?</strong></p>
  <p>Angular CLI usa algunas variables de entorno como el NODE_ENV para el modo de desarrollo o 
  producción, pero no requiere configuraciones adicionales de entorno a menos que estés trabajando 
  con herramientas específicas.</p>
  <p><strong>e)¿Necesita base de datos?</strong></p>
  <p>No, Angular no necesita una base de datos para funcionar, ya que es un framework frontend.
  Sin embargo, las aplicaciones Angular suelen consumir datos desde una base de datos mediante 
  APIs (por ejemplo, REST o GraphQL).</p>
</ul>