<header>
    <h1 style="color: white;">Bienvenido al tutorial de Angular</h1>
  <nav>
    <ul>
      <li><a routerLink="Justificación">Justificación</a></li>
      <li><a routerLink="/instalacion">Instalación</a></li>
      <li><a routerLink="/primeros-pasos">Primeros Pasos</a></li>
      <li><a routerLink="/utilizacion">Utilización</a></li>
      <li><a routerLink="/funcionamiento">Funcionamiento</a></li>
      <li><a routerLink="/conclusiones">Conclusiones</a></li>
    </ul>
  </nav>
</header>

<app-seccion-justificacion></app-seccion-justificacion>
<app-seccion-instalacion></app-seccion-instalacion>
<app-seccion-primeros-pasos></app-seccion-primeros-pasos>
<app-seccion-utilizacion></app-seccion-utilizacion>
<app-seccion-conclusiones></app-seccion-conclusiones>

<footer style="background-color: #2c3e50; color: white; padding: 20px; text-align: center;">
  <div>
      <p>&copy; 2024 Tutorial Angular. Todos los derechos reservados.</p>
      <p>
          <a href="/politica-de-privacidad" style="color: #ecf0f1; text-decoration: none;">Política de Privacidad</a> | 
          <a href="/terminos-y-condiciones" style="color: #ecf0f1; text-decoration: none;">Términos y Condiciones</a>
      </p>
  </div>
</footer>
