<h1>Justificación del framework</h1>
<p>Angular es un framework de desarrollo web basado en TypeScript...</p>
<ul>
    <li><strong>a)¿Para qué sirve?</strong></li>
    <p>Angular es un framework de desarrollo web de código abierto, mantenido por Google.
    Está diseñado para facilitar la creación de aplicaciones web de una sola página 
    (SPA, por sus siglas en inglés) de manera eficiente y escalable. Angular permite a 
    los desarrolladores crear aplicaciones dinámicas con un alto rendimiento, aprovechando 
    características como la vinculación bidireccional de datos (two-way data binding), 
    inyección de dependencias, y el enrutamiento integrado.</p>
    <li><strong>b)¿Qué aplicaciones tiene?</strong></li>
    <p>Angular se utiliza principalmente en el desarrollo de aplicaciones web interactivas
     y dinámicas. Es ideal para:</p>
        <li>Aplicaciones web de una sola página (SPA)</li>
        <li>Dashboards de administración.</li>
        <li>Aplicaciones móviles (con Angular y Ionic).</li>
        <li>Aplicaciones empresariales y de gestión de datos.</li><br>
    <li><strong>c)¿Sobre qué lenguajes se apoya?</strong></li>
    <p>Angular se basa principalmente en TypeScript, un superconjunto de JavaScript.
     TypeScript ofrece tipado estático, lo que ayuda a prevenir errores en tiempo de 
     desarrollo. Angular también utiliza HTML y CSS para la creación de la interfaz de 
     usuario, con extensiones específicas de Angular (como directivas y componentes).</p>
     <li><strong>d)¿Qué prerrequisitos necesita?</strong></li>
     <p>Para trabajar con Angular, se recomienda tener conocimienots básicos de:</p>
        <li>JavaScript y TypeScript.</li>
        <li>HTML y CSS.</li>
        <li>Node.js y npm (gestor de paquetes de Node). Es útil también familiarizarse 
        con conceptos de desarrollo de aplicaciones web, como el manejo de rutas y 
        componentes</li>
</ul>
